
/* ESTILOS GENERALES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/* VARIABLES */
:root{
  
}

/* HEADER */
header{
    display: flex;
    min-height: 80px;
    width: 100vw;
    background-color: #020617;
    justify-content: space-between;
    align-items: center;
}

/* NAV */
.nav{
    margin: 0 30px;
}
.nav-menu{
    display: flex;
    gap: 20px;
}

.nav-items{
    list-style-type: none;
    padding: 10px 10px;
}

.nav-items a{
    text-decoration: none;
    color: #ffffff;
}

.nav-items a:hover{
    color: #94a3b8;
    text-decoration: underline;
}


/* LOGO */
.header-logo{
    margin: 0 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
/*
.header-logo a{
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
}
*/
.logo-img{
  width: 40px;
  height: auto;
  display: inline-block;
  cursor: pointer;
  border: 2px solid red;
  border-radius: 50%;
}

.logo-nombre{
  text-decoration: none;
  font-size: 24px;
  color:#ffffff;
  opacity: 0;
  transition: opacity 0.7s;
}

/* .header-logo a:hover{
  color: #94a3b8;
} */

.header-logo .logo-img:hover + .logo-nombre{
  opacity: 1;
}


.projects{
  min-height: 300px;
  border: 2px solid blue;
}
.about{
  min-height: 300px;
  border: 2px solid red;
  
}
.skills{
  min-height: 300px;
  border: 2px solid blue;
  
}
.formcontact{
  min-height: 300px;
  border: 2px solid red;
  
  
}

/* Apoteotico trabajando en el footer */


.footer {
  min-height: 200px;
  background-color: #777;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%; /* Ajusta el ancho como desees */
  max-width: 1200px; /* Establece un ancho máximo para evitar que el contenido se expanda demasiado en pantallas grandes */
}

.left {
  /* Estilos para el lado izquierdo (nombre o logo) */
}

.right {
  /* Estilos para el lado derecho (iconos de redes sociales) */
}

.social-icon {
  /* Estilos para los iconos de redes sociales */
  margin-left: 10px; /* Espacio entre los iconos */
}

/* final de mi codigo Apoteotico Footer */
