
/* ESTILOS GENERALES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/* VARIABLES */
:root{
  
}

/* HEADER */
header{
    display: flex;
    min-height: 80px;
    width: 100vw;
    /* background-color: #020617; */
    background-color: #000000;
    justify-content: space-between;
    align-items: center;
}

/* NAV */
.nav{
    margin: 0 30px;
}
.nav-menu{
    display: flex;
    gap: 20px;
}

.nav-items{
    list-style-type: none;
    padding: 10px 10px;
}

.nav-items a{
    text-decoration: none;
    color: #ffffff;
}

.nav-items a:hover{
    color: #94a3b8;
    text-decoration: underline;
}


/* LOGO */
.header-logo{
    margin: 0 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img{
  width: 40px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
  border: 2px solid #ffffff;
  border-radius: 50%;

}

.logo-nombre{
  text-decoration: none;
  font-size: 24px;
  color:#ffffff;
  opacity: 0;
  transition: opacity 0.7s;
  cursor: default;
}

.header-logo .logo-img:hover + .logo-nombre{
  opacity: 1;
}

/* PROJECTS */
.projects{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  background-image: url("./fondo-estrellas.png");
  background-size: cover;
  background-position: center; 
}
.projects .subtitle{
  text-align: center;
  margin: 40px 0;
  font-size: 32px;
  color: #ffffff;
}
.projects-container{
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  gap: 50px;
  justify-content: center;
}

.container-card{
  width: 300px;
  /* border: 2px dashed #ffffff; */
  margin: 20px 0;
}

.container-card {
  position: relative;
  width: 300px;
  height: 300px;
}

.container-card .projects-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects-hover {
  position: absolute;
  background: rgba(220, 20, 60, 0.55); 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease; 
}

.container-card:hover .projects-hover {
  opacity: 1; 
}
.container-card:hover .projects-hover{
  transform: translate(0%);
}

#project-click{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  z-index: 999;
}

#project-click.active{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 40px;
}

#project-click.active > *{
  margin-top: 0;
}

/* ABOUT */
.about{
  min-height: 300px;
  border: 2px solid red;
}

/* SKILLS */
.skills{
  min-height: 300px;
  border: 2px solid blue;
  
}

/* CONTACT */
.formcontact{
  min-height: 300px;
  border: 2px solid red;
  
  
}

/* Apoteotico trabajando en el footer */


.footer {
  min-height: 200px;
  background-color: #777;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%; /* Ajusta el ancho como desees */
  max-width: 1200px; /* Establece un ancho máximo para evitar que el contenido se expanda demasiado en pantallas grandes */
}

.left {
  /* Estilos para el lado izquierdo (nombre o logo) */
}

.right {
  /* Estilos para el lado derecho (iconos de redes sociales) */
}

.social-icon {
  /* Estilos para los iconos de redes sociales */
  margin-left: 10px; /* Espacio entre los iconos */
}

/* final de mi codigo Apoteotico Footer */
